<!DOCTYPE html>
<html>
  <head>
    <title>Bank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if @user.present? %>
      <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>
      <%= @user.name %>
      <%= @user.account.balance %>
    <% else %>
      <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %>
    <% end %>

  </body>
</html>
