<% if @user.present? %>

  <div data-controller="transfers">
    <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>
    <%= @user.name %>
    <%= @account.iban %>
    <div data-transfers-target="balance"><%= @account.balance %></div>

    <div>
      <input data-transfers-target="amount" type="number" max="<%# @account.balance %>" />
      <button
        data-action="transfers#transfer"
        data-transfers-target="sendButton"
      >
        Send
      </button>
    </div>

    <div data-transfers-target="clients" class="rows-container">
      <% @clients_list.each_with_index do |client, index| %>
        <div
          data-action="click->transfers#selectClient"
          data-transfers-client-id-param="<%= client.id %>"
          data-transfers-position-param="<%= index + 1 %>"
        >
          <%= client.name %> - <%= client.iban %>
        </div>
      <% end %>
    </div>
  </div>

  <div data-controller="transactions">
    <h3>Transactions</h3>
    <div data-transactions-target="transactionsList" class="transactions-container flex flex-col">
      <%= render 'partials/transactions', transactions: [] %>
    </div>
    <button data-transactions-target="loadButton" data-action="transactions#loadTransactions">Load more</div>
  </div>

<% else %>
  <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %>
<% end %>
